<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Note Taking App</title>
</head>
<header class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Note Taking App
            </h1>
        </div>
    </div>

    <body class="has-background-light">
        <section class="section">
            <div class="container">
                <div class="notification is-primary">
                    {{{body}}}
                </div>
            </div>
        </section>
    </body>

</html>